<ion-navbar *navbar>
  <ion-title>
    {{ group.name }}
  </ion-title>
</ion-navbar>

<ion-content>
    <ion-card>
        <ion-item>
            <h2>{{ group.name }}</h2>
            <div *ngIf="group.members_count">
                    <ion-icon name="people"></ion-icon>
                    {{ group.members_count }}
            </div>
        </ion-item>
        <p>
            {{ group.description }}
        </p>
    </ion-card>
    <ion-card>
      <h3> Membres du groupes </h3>
      <div *ngFor="let membership of group.memberships">
      <div *ngIf="membership && membership.user && membership.user.id">
          <user-inline-display [user]="membership.user">
          </user-inline-display>
      </div>
  </div>
    </ion-card>
</ion-content>
